.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-title{
    font-size: 4rem;
    margin: 0;
}

.about-text{
    font-size: 1.5rem;
    /* width: 59%; */
    text-align: center;
}

.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.skill-title{
    font-size: 2.5rem;
    margin: 0;
}

.skill-text{
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 1028px){
    
}
  
@media only screen and (max-width: 480px){
    .about-title{
        font-size: 2rem;
    }

    .about-text{
        font-size: 1rem;
    }

    .skill-title{
        font-size: 1.5rem;
    }

    .skill-text{
        font-size: 1rem;
    }
}