*{
  box-sizing: border-box;
}

body{
  background-color: #171B2C;
  font-family: "Raleway", sans-serif;
  color: #EEEBE3;
  margin: 0;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 4rem;
  height: 5rem;
  width: 100%;
  background-color: #171B2C;
}

.logo{
  width: 2rem;
  cursor: pointer;
}

.nav-button-container{
  list-style: none;
  display: flex;
  gap: 10rem;
  width: auto;
}

.nav-button{
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  width: fit-content;
}

@media only screen and (max-width: 1028px){
  nav{
    padding: 1rem 2rem;
  }

  .nav-button-container{
    list-style: none;
    display: flex;
    gap: 3rem;
  }
}

@media only screen and (max-width: 768px){
  nav{
    padding: 1rem 2rem;
  }

  .nav-button-container{
    list-style: none;
    display: flex;
    gap: 3rem;
  }
}

@media only screen and (max-width: 480px){
  .nav-container{
    padding: 1rem 2rem;
  }

  .nav-button-container{
    gap: 2rem;
    margin-left: auto;
  }
}

@media only screen and (max-width: 380px){
  nav{
    padding: 1rem 2rem;
  
  }

  .nav-button-container{
    list-style: none;
    display: flex;
    gap: 3rem;
  }
}